@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.body_Product_Info{
    width: 100%;
    font-family: 'Prompt', sans-serif;
    display: flex;
    /* background: rgb(236, 236, 236); */
}

.left_productInfo_page{
    width: 60%;
    padding-top: 10px;
    /* background: #000; */
    text-align: center;
}

.right_productInfo_page{
    width: 40%;
    /* background: red; */
}

.group_show_img_font{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-left: 24%;
}

.group_show_img_font img{
    width: 10% ;
    margin-left: 50px;
    cursor: pointer;
    transition: .4s;
    /* border: 1.5px solid rgb(61, 61, 61); */
}

.group_show_img_font img:hover{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.fristImg_show{
    margin-top: -10px;
    width: 45%;
}

.box_of_info_product{
    width: 60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 14%;
}

.tag_of_product{
    display: flex;
    font-size: 12px;
    margin-top: 30px;
}

.tag_of_product p{
    color: rgb(170, 170, 170);
    cursor: default;
}

.cateNmae_tag{
    margin-left: 10px;
    color: rgb(170, 170, 170);
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}

.brandName_tag{
    color: rgb(170, 170, 170);
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    transition: .4s;
}

.cateNmae_tag:hover,
.brandName_tag:hover{
    color: black;
}

.Name_of_proInfo{
    cursor: default;
    margin-top: 6px;
    font-size: 28px;
}

.Price_of_proInfo{
    cursor: default;
    margin-top: 16px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(68, 68, 68);
}

.Info_of_proInfo{
    cursor: default;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(170, 170, 170);
}

.Group_of_amount_Size{
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.radio-input-group-proInfo{
    margin-left: 12px;
}

.radio-input-group-proInfo input[type="radio"]{
    -webkit-appearance: none;
}

input[type="radio"]:checked + label{
    background-color: rgb(34, 34, 34);
    color: rgb(236, 236, 236);
}

.radio-input-group-proInfo label:hover{
    background-color: rgb(34, 34, 34);
    color: rgb(236, 236, 236);
}

.radio-input-group-proInfo label{
    cursor: pointer;
    font-size: 14px;
    display: block;
    width: 40px;
    height: 20px;
    text-align: center;
    border: 1.5px solid rgb(34, 34, 34);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .5s;
}

.buy_group{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.buy_proInfo{
    cursor: pointer;
    padding: 10px 20px;
    width: 40%;
    margin-left: 10%;
    border-radius: 24px;
    border: 2px solid rgb(61, 61, 61);
    font-family: 'Prompt', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
    transition: .4s;
    background: transparent;
} 


.buy_proInfo:hover{
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ProInfo-back-Pro{
    position:static;
    font-size: 32px;
    margin-left:15%;
    transition: .4s;
    border-radius: 24px;
    width: 35px;
    height: 35px;
    padding-bottom: 4px;
    padding-left: 2px;
    margin-top: 2%;
    cursor: pointer;
}

.ProInfo-back-Pro:hover{
    background-color: rgba(0, 0, 0, 0.432);
}

.Stock_of_size{
    font-size: 14px;
    color:rgb(170, 170, 170) ;
    cursor: default;
    margin-top: 10px;
}

.ProInfo-back-Pro a{
    color: black;
    transition: .4s;
    
}

.plus_minus_group{
    width: 50%;
    text-align: center;
    margin-top: 25px;
}

.plus_minus_group input{
    border: none;
    outline: none;
    background: transparent;
    width: 40%;
    font-size: 32px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.minusButtonProFont,
.plusButtonProFont{
    font-size: 32px;
    border: none;
    width: 40px;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    background: transparent;
    color: silver;
    transition: .2s;
}

.minusButtonProFont:hover,
.plusButtonProFont:hover{
    color: rgb(34, 34, 34);
}

button[disabled]{
    cursor: not-allowed;
}

.button_add_cart{
    cursor: pointer;
    padding: 10px 20px;
    width: 40%;
    margin-left: 2%;
    border-radius: 24px;
    border: 2px solid rgb(61, 61, 61);
    font-family: 'Prompt', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
    transition: .4s;
    background: transparent;
}

.button_add_cart:hover{
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}